# Archivos compilados por GHC
*.hi
*.o
*.dyn_hi
*.dyn_o

# Ejecutables generados
Main
Main.exe
*.exe
*.out

# Archivos temporales de compilación
/dist
/dist-newstyle
/.stack-work
.cabal-sandbox/
cabal.sandbox.config

# Archivos de editor
*.swp
*.swo
*~
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs o pruebas
*.log
*.csv
*.json
# Cabal/Stack
dist/
dist-newstyle/
.stack-work/
*.hi
*.o
*.dyn_hi
*.dyn_o
cabal.project.local
cabal.project.local~*

# VSCode / IDE
.vscode/
.idea/

# Archivos de tu app
estado.json
dist/
dist-newstyle/
Programa/dist-newstyle/
.stack-work/
*.hi
*.o
*.dyn_hi
*.dyn_o
cabal.project.local
cabal.project.local~*
.vscode/
.idea/
estado.json

